/* FONTS */
/* Nunito Sans REGULAR */
@font-face {
    font-family: "Nunito Sans", sans-serif;
    src: url(../fonts/Nunito_Sans/NunitoSans-VariableFont_YTLC\,opsz\,wdth\,wght.ttf) format('truetype');
    font-weight: 400;
    font-style: normal;
}
/* Nunito Sans BOLD */
@font-face {
    font-family: "Nunito Sans", sans-serif;
    src: url(../fonts/Nunito_Sans/NunitoSans-VariableFont_YTLC\,opsz\,wdth\,wght.ttf) format('truetype');
    font-weight: 700;
    font-style: normal;
}
/* Nunito Sans BLACK */
@font-face {
    font-family: "Nunito Sans", sans-serif;
    src: url(../fonts/Nunito_Sans/NunitoSans-VariableFont_YTLC\,opsz\,wdth\,wght.ttf) format('truetype');
    font-weight: 900;
    font-style: normal;
}
/* Lato REGULAR */
@font-face {
    font-family: "Lato";
    src: local('Lato Regular'), local('Lato-Regular'), url(../fonts/Lato/latoregular.woff2) format('woff2'), url(../fonts/Lato/latoregular.woff) format('woff'), url(../fonts/Lato/latoregular.ttf) format('truetype');
    font-weight: 400;
    font-style: normal;
}

:root {
    /* Fonts */
    --font-nunito: "Nunito Sans", sans-serif;
    --font-lato: "Lato", sans-serif;

    /* Colors */
    --col-gradient: linear-gradient(90deg, #ff323f 0%, #ff37e4 100%);
    --col-white: #ffffff;
    --col-light-gray: #e9e9e9;
    --col-gray: #4E4E4E;
    --col-line: #888888;
    --col-gray-rgb: 78, 78, 78;
    --col-dark: #0E0E0E;
    --col-accent: rgb(230, 16, 87);

    /* Effects */
    --ef-tr: 0.3s;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: var(--font-lato);
    font-size: 16px;
}

a {
    text-decoration: none;
    color: inherit;
    transition: var(--ef-tr);
}

.container {
    width: 100%;
    max-width: 1630px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
    box-sizing: border-box;
}

.btn-accent span::before {
    content: '';
    display: block;
    width: 10px;
    height: 10px;
    background-image: url(../images/btn-icon.svg);
    background-repeat: no-repeat;
    background-size: contain;
}

.btn-accent {
    display: flex;
    padding: 20px 18px;
    font-family: var(--font-nunito);
    font-weight: 900;
    color: var(--col-white);
    background: var(--col-gradient);
    border-radius: 10px;
    width: fit-content;
    position: relative;
}

.btn-accent::after {
    content: '';
    width: 100%;
    height: 100%;
    background: var(--col-accent);
    border-radius: 10px;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    opacity: 0;
    transition: var(--ef-tr);
}

.btn-accent:hover::after {
    opacity: 1;
}

.btn-accent span {
    display: flex;
    align-items: center;
    gap: 6px;
    position: relative;
    z-index: 2;
}

.btn-line {
    background: #0f152c;
    border: 1px solid var(--col-gradient);
    margin: 0 auto;
    padding-left: 34px;
    padding-right: 34px;
}

.btn-line::before {
    content: '';
    display: block;
    background: var(--col-gradient);;
    position: absolute;
    width: calc(100% + 2px );
    height: calc(100% + 2px);
    inset: -1px;
    border-radius: 10px;
    z-index: -1;
}

.badge::before {
    content: '';
    display: block;
    width: 10px;
    height: 10px;
    background-image: url(../images/icon.svg);
    background-repeat: no-repeat;
    background-size: contain;
}

.btn-burger {
    background: transparent;
    border: none;
    display: none;
    width: 34px;
    height: 22px;
    background-image: url(../images/burger-menu.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    cursor: pointer;
}

.badge {
    display: flex;
    align-items: center;
    gap: 6px;
    padding: 10px 15px;
    font-family: var(--font-nunito);
    font-weight: 500;
    font-size: 12px;
    color: var(--col-white);
    border: 1px solid #ffffff;
    border-radius: 8px;
    width: fit-content;
}

.light .badge {
    border-color: #AEAEAE;
    color: var(--col-gray);
}

.badge + .title-h1 {
    margin-top: 28px;
}

.badge + .title-h2 {
    margin-top: 22px;
}

.badge-center {
    margin: 0 auto;
}

.title-h1 {
    font-family: var(--font-nunito);
    font-size: 75px;
    font-weight: 700;
    line-height: 1.2;
    color: var(--col-white);
    margin-top: 0;
    margin-bottom: 0;
}

.title-h2 {
    font-family: var(--font-nunito);
    font-size: 48px;
    font-weight: 700;
    line-height: 1.2;
    color: var(--col-white);
    margin-top: 0;
    margin-bottom: 0;
}

.title-h2 + .description {
    margin-top: 10px;
}
 
.light .title-h2 {
    color: var(--col-dark);
}

.title-h4 {
    font-family: var(--font-nunito);
    font-size: 26px;
    font-weight: 700;
    line-height: 1.5;
    margin-top: 0;
    margin-bottom: 0;
}

.title-h5,
.copyright {
    font-family: var(--font-nunito);
    font-size: 20px;
    font-weight: 700;
    line-height: 1.4;
    margin-top: 0;
    margin-bottom: 0;
}

.description {
    color: var(--col-light-gray);
    line-height: 1.6;
    margin-top: 0;
    margin-bottom: 34px;
}

.light .description {
    color: var(--col-gray);
}

.text-small {
    margin: 0;
    font-family: var(--font-nunito);
    font-weight: 500;
    font-size: 12px;
    color: var(--col-light-gray);
}

/* Main */
.main {
    color: var(--col-white);
    background-image: url(../images/bg-main.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 30px;
    padding-bottom: 120px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: calc(100% - 30px);
    max-width: 1600px;
    padding: 15px 17px 15px 25px;
    box-sizing: border-box;
    background-color: var(--col-white);
    border-radius: 16px;
    margin: 0 auto;
    position: fixed;
    z-index: 9999;
}

.scroll {
    border: 1px solid rgba(var(--col-gray-rgb), 0.4);
}

.header-control {
    display: flex;
    align-items: center;
    gap: 20px;
}

.logo {
    display: block;
    width: 105px;
    height: 30px;
    background-image: url(../images/logo.svg);
    background-repeat: no-repeat;
    background-size: contain;
}

.nav {
    display: flex;
    gap: 40px;
    font-size: 14px;
    color: #333;
}

.nav-link {
    position: relative;
}

.nav-link:hover {
    color: var(--col-accent);
}

.nav-link::before {
    content: '';
    width: 20px;
    height: 20px;
    background: linear-gradient(180deg, rgba(10, 10, 10, 0.10) 20%, rgba(112, 112, 112, 0.10) 120%);
    border-radius: 100%;
    position: absolute;
    left: 0;
    right: 0;
    top: calc(50% - 10px);
    margin: 0 auto;
    opacity: 0;
    transition: var(--ef-tr);
}

.nav-link::after {
    content: '';
    display: block;
    width: 19px;
    height: 1px;
    background: var(--col-gradient);
    margin-top: 6px;
    opacity: 0;
    transition: var(--ef-tr);
}

.nav-link:hover::before,
.nav-link:hover::after {
    opacity: 1;
}

/* Hero */
.section-hero {
    margin-top: 185px;
    margin-bottom: 100px;
}

.hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hero-image {
    padding-right: 30px;
}

.description-hero {
    max-width: 556px;
}

.brands {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 98px;
    gap: 24px 55px;
}

.brands .text-small {
    width: 100%;
}

/* Screen */
.screen {
    text-align: center;
}

.description-screen {
    max-width: 564px;
    margin-left: auto;
    margin-right: auto;
}

.image-screen {
    width: 100%;
    max-width: 1496px;
    margin-top: 20px;
}

/* Advantages */

.section-advantages {
    padding-top: 120px;
    padding-bottom: 120px;
}

.advantages {
    display: flex;
    align-items: center;
    gap: 7vw;
}

.advantages-text {
    flex-basis: 608px;
}

.advantages-image {
    flex-basis: calc(100% - 608px - 7vw);
}

.advantages-image img {
    width: 100%;
}

.advantages-list {
    margin-top: 44px;
}

.advantages-item {
    display: flex;
    align-items: start;
    gap: 45px;
}

.advantages-icon {
    padding-top: 15px;
}

.advantages-item .description {
    max-width: 440px;
}

/* App */
.app {
    display: flex;
    align-items: center;
    gap: 4vw;
}

.app-text {
    flex-basis: 750px;
}

.app-text .title-h2 {
    font-size: 48px;
}

.app-image {
    flex-basis: calc(100% - 750px - 4vw);
    position: relative;
}

.app-image img {
    width: 100%;
}

.app-gray {
    width: 100%;
    height: 90%;
    background-color: var(--col-light-gray);
    border-radius: 16px;
    position: absolute;
    z-index: -1;
    right: -22px;
    top: 5%;
}

.description-app {
    max-width: 495px;
}

.app-list {
    display: grid;
    grid-template-columns: 249px 1fr;
    gap: 16px;
    list-style-type: none;
    padding-left: 0;
    margin-top: 38px;
    margin-bottom: 50px;
}

.app-item::before {
    content: "";
    width: 8px;
    height: 8px;
    background-color: var(--col-dark);
    border-radius: 100%;
}

.app-item {
    display: flex;
    align-items: center;
    gap: 12px;
    font-family: var(--font-nunito);
    font-size: 20px;
    font-weight: 700;
    line-height: 1.4;
    color: var(--col-dark);
    padding-left: 12px;
}

/* Steps */
.steps {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 24px;
    margin-top: 18px;
}

.steps-item {
    border: 1px solid rgba(var(--col-gray-rgb), 0.4);
    border-radius: 16px;
    padding: 62px 45px 34px;
    box-sizing: border-box;
    position: relative;
    overflow: hidden;
}

.steps-item:hover,
.steps-item:hover .description {
    color: var(--col-white);
    transition: var(--ef-tr) color;
}

.steps-item::before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    z-index: -1;
    opacity: 0;
    transition: var(--ef-tr);
}

.steps-item:hover::before {
    opacity: 1;
}

.steps-item:nth-child(1)::before {
    background-image: url(../images/steps/reg.jpg);
}

.steps-item:nth-child(2)::before {
    background-image: url(../images/steps/cust.jpg);
}

.steps-item:nth-child(3)::before {
    background-image: url(../images/steps/up.jpg);
}

.steps-item:nth-child(4)::before {
    background-image: url(../images/steps/joy.jpg);
}

.description-steps {
    margin-top: 12px;
    margin-bottom: 40px;
    transition: var(--ef-tr) color;
}

.steps-line {
    width: 100%;
    height: 2px;
    background: rgba(var(--col-gray-rgb), 0.40);
    position: relative;
}

.steps-line::after {
    content: '';
    width: 100%;
    height: 2px;
    background: var(--col-gradient);
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: var(--ef-tr);
}

.steps-item:hover .steps-line::after {
    opacity: 1;
}

/* Product */
.section-product {
    padding-top: 120px;
    padding-bottom: 120px;
}

.product {
    text-align: center;
}

.info {
    display: grid;
    grid-template-columns: 49% 247px 1fr;
    grid-template-rows: 369px auto;
    gap: 24px;
}

.info-item {
    background-color: #F2F2F2;
    border-radius: 16px;
    box-sizing: border-box;
    overflow: hidden;
}

.info-item:not(:nth-child(1)) {
    border: 1px solid rgba(var(--col-gray-rgb), 0.4);
}

.info-item:nth-child(1) {
    grid-row: 1 / 3;
}

.info-item:nth-child(2) {
    grid-column: 2 / 4;
}

.info-item:nth-child(3) {
    padding: 50px 40px 64px 40px;
}

.info-item:nth-child(4) {
    padding: 50px 40px;
}

.review {
    height: 100%;
    background-image: url(../images/product/photo.png);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    position: relative;
}

.review-image {
    width: 100%;
    max-width: 515px;
    position: absolute;
    bottom: 40px;
    left: 0;
    right: 0;
    margin: 0 auto;
    padding-left: 10px;
    padding-right: 10px;
    box-sizing: border-box;
}

.code {
    height: 100%;
    background-image: url(../images/product/code.png);
    background-size: cover;
    background-position: 70px 35px;
    background-repeat: no-repeat;
    position: relative;
}

.code-image {
    width: 100%;
    max-width: 100px;
    position: absolute;
    bottom: 35px;
    right: 135px;
}

.support-item {
    display: flex;
    gap: 10px;
    align-items: center;
    background-color: var(--col-white);
    border-radius: 10px;
    padding: 4px 20px;
}

.support-item:not(:last-child) {
    margin-bottom: 18px;
}

.faq-list {
    text-align: left;
    margin-top: 24px;
}

.faq-details > .faq-sumarry:first-of-type {
    list-style: none;
}

.faq-sumarry {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 14px;
    background-color: var(--col-white);
    border-radius: 10px;
    padding: 15px 20px 15px 20px;
    position: relative;
}

.faq-sumarry:not(:last-child) {
    margin-bottom: 20px;
}

.faq-sumarry::before {
    content: '';
    display: block;
    width: 20px;
    height: 20px;
    background: var(--col-gradient);
    border-radius: 15px;
    position: absolute;
    top: calc(50% - 10px);
    right: 23px;
}

.faq-sumarry::after {
    content: '';
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    background-image: url(../images/product/plus.svg);
    background-repeat: no-repeat;
    background-size: 10px 10px;
    background-position: center center;
    border-radius: 15px;
    position: absolute;
    top: calc(50% - 10px);
    right: 23px;
}

.faq-details[open] > .faq-sumarry::before {
    background: var(--col-line);
}

.faq-details[open] > .faq-sumarry::after {
    background-image: url(../images/product/minus.svg);
}

/* Free */
.section-free {
    background-image: url(../images/free/banner.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    color: var(--col-white);
}

.free {
    display: flex;
    justify-content: end;
    text-align: center;
}

.free-text {
    padding-right: 110px;
    padding-top: 125px;
    padding-bottom: 135px;
    position: relative;
    z-index: 0;
}

.free-text .title-h2 {
    max-width: 420px;
    margin: 0 auto;
}

.free-text .description {
    max-width: 350px;
    margin: 10px auto 34px;
}

/* Footer */
.footer {
    padding-top: 120px;
}

.footer-top,
.footer-bottom {
    display: flex;
}

.footer-top {
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgba(var(--col-gray-rgb), 0.4);
    padding-bottom: 60px;
}

.footer-bottom {
    justify-content: center;
    padding: 24px 0;
}

.social-list {
    display: flex;
    gap: 14px;
}

.social-link {
    display: block;
    width: 30px;
    height: 30px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
}

.social-link.tg {
    background-image: url(../images/footer/tg.svg);
}

.social-link.vk {
    background-image: url(../images/footer/vk.svg);
}

.social-link.yt {
    background-image: url(../images/footer/yt.svg);
}

.footer-top .logo {
    width: 273px;
    height: 70px;
}

/* Modal */
.modal {
    background: #0F152C;
    border-radius: 16px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 9999;
    max-width: 736px;
    display: flex;
    justify-content: center;
    margin: 20px auto 0;
    opacity: 0;
    visibility: hidden;
    transition: var(--ef-tr);
}

.modal.active {
    opacity: 1;
    visibility: visible;
}

.modal .nav {
    display: flex;
    flex-direction: column;
}

.btn-close {
    display: block;
    width: 22px;
    height: 22px;
    background-image: url(../images/modal/close-icon.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.btn-up {
    display: block;
    width: 35px;
    height: 57px;
    background: transparent;
    background-image: url(../images/up/icon-up.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    border: none;
    cursor: pointer;
    position: fixed;
    bottom: 20px;
    right: 20px;
    opacity: 0;
    visibility: hidden;
    transition: var(--ef-tr);
}

.btn-up.hidden {
    opacity: 0;
    visibility: hidden;
}

.btn-up.visible {
    opacity: 1;
    visibility: visible;
}

/* Adaptation */
/* 1512 */
@media (max-width: 1512px) {
    .container {
        max-width: 1140px;
    }

    .header {
        max-width: calc(1140px - 30px);
    }

    .nav {
        gap: 20px;
    }

    .title-h1 {
        font-size: 62px;
    }

    .hero {
        gap: 3vw;
    }

    .hero-text {
        flex-basis: 587px;
    }

    .hero-image {
        flex-basis: calc(100% - 587px - 3vw);
        padding-right: 0;
    }

    .hero-image > img {
        width: 100%;
    }

    .brands img {
        width: auto;
        height: 25px;
    }

    .section-hero {
        margin-top: 135px;
    }

    .main {
        padding-top: 20px;
    }

    .image-screen {
        max-width: 1010px;
    }

    .section-advantages {
        padding-top: 100px;
        padding-bottom: 100px;
    }

    .advantages {
        gap: 3vw;
    }

    .advantages-image {
        flex-basis: calc(100% - 608px - 3vw);
    }

    .app {
        gap: 5vw;
    }

    .app-text {
        flex-basis: 601px;
    }

    .app-image {
        flex-basis: calc(100% - 601px - 5vw);
    }

    .steps {
        grid-template-columns: repeat(2, 1fr);
    }

    .section-product {
        padding-top: 100px;
        padding-bottom: 100px;
    }

    .info {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 350px auto;
    }

    .info-item:nth-child(2) {
        grid-column: 2 / 3;
    }

    .info-item:nth-child(3) {
        grid-row: 3 / 4;
        grid-column: 1 / 3;
        padding: 20px 40px;
    }

    .support-item:not(:last-child) {
        margin-bottom: 0;
    }

    .support {
        display: flex;
        align-items: center;
        gap: 20px;
    }

    .support .title-h5 {
        flex-basis: 198px;
        text-align: center;
    }

    .support-list {
        display: flex;
        align-items: center;
        flex-grow: 1;
        justify-content: space-between;
        margin-top: 0;
        gap: 20px;
    }

    .support-item {
        flex-grow: 1;
    }

    .free-text {
        padding-right: 0;
    }

    .btn-up {
        width: 27px;
        height: 46px;
    }
}

/* 1000 */
@media (max-width: 1000px) {
    .container {
        max-width: 1000px;
    }

    .btn-burger {
        display: block;
    }

    .nav,
    .hero-image,
    .btn-up {
        display: none;
    }

    .hero {
        justify-content: center;
        text-align: center;
    }

    .badge,
    .btn-accent {
        margin: 0 auto;
    }

    .brands {
        justify-content: center;
    }

    .section-advantages {
        padding-top: 100px;
        padding-bottom: 100px;
    }

    .advantages {
        flex-direction: column;
    }

    .advantages-text {
        flex-basis: 100%;
    }

    .advantages-image {
        flex-basis: 100%;
        width: 100%;
    }

    .app {
        flex-direction: column-reverse;
    }

    .app-text {
        flex-basis: 100%;
    }

    .app-image {
        flex-basis: 100%;
        width: 95%;
    }

    .section-product {
        padding-top: 100px;
        padding-bottom: 100px;
    }

    .info {
        grid-template-columns: 1fr;
        grid-template-rows: 80vw 330px;
    }

    .info-item:nth-child(1) {
        grid-row: 1 / 2;
    }

    .info-item:nth-child(2) {
        grid-column: 1 / 2;
    }

    .info-item:nth-child(3) {
        grid-row: 4 / 5;
        grid-column: 1 / 2;
        padding: 20px 40px;
    }

    .info-item:nth-child(4) {
        grid-row: 3 / 4;
    }
    
    .code-image{
        max-width: 8vw;
        right: 3vw;
    }

    .section-free {
        background: #0F152C;
    }

    .free {
        justify-content: center;
    }

    .free-text {
        padding-top: 80px;
        padding-bottom: 80px;
        position: relative;
        z-index: 0;
    }

    .footer {
        padding-top: 40px;
    }

    .footer-top {
        padding-bottom: 30px;
    }

    .footer-top .logo {
        width: 203px;
        height: 52px;
    }
}

/* 874 */
@media (max-width: 874px) {
    .support {
        display: flex;
        align-items: start;
    }

    .support .title-h5 {
        font-size: 20px;
        padding-top: 15px;
    }

    .support-list {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        width: 100%;
    }
}

/* 650 */
@media (max-width: 650px) {
    .container {
        max-width: 650px;
    }

    .title-h1 {
        font-size: clamp(33px, 9vw, 75px);
    }

    .title-h2 {
        font-size: 26px;
    }

    .title-h3 {
        font-size: 18px;
    }

    .title-h4 {
        font-size: 16px;
    }

    .title-h5,
    .copyright,
    .app-item,
    .btn-accent,
    .description  {
        font-size: 14px;
    }

    .brands {
        gap: 24px 3vw;
        margin-top: 80px;
    }
    
    .brands img {
        height: 4vw;
        flex-basis: calc(25% - 6vw);
    }

    .app-list {
        max-width: 340px;
        gap: 10px;
        grid-template-columns: 173px 1fr;
    }

    .app-text {
        flex-basis: 515px;
        justify-items: center;
        text-align: center;
    }

    .advantages-text .title-h2 {
        text-align: center;
    }

    .advantages-text .description {
        text-align: center;
        max-width: 488px;
    }

    .advantages-item {
        max-width: 447px;
        margin: 0 auto;
        gap: 30px;
    }

    .advantages-list-text {
        max-width: 432px;
    }

    .advantages-list-text .description {
        text-align: left;
    }
    
    .steps {
        grid-template-columns: repeat(1, 1fr);
    }
    
    .info {
        grid-template-columns: 1fr;
        grid-template-rows: 80vw 55vw;
    }

    .info-item:nth-child(4) {
        padding: 30px 20px 10px 20px;
    }
    
    .code-image{
        display: none;
    }

    .review-image {
        width: 95%;
        bottom: 20px;
    }
}

/* 566 */
@media (max-width: 566px) {
        .support {
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .support .title-h5 {
        flex-basis: 0;
        font-size: 14px;
    }

    .support-list {
        display: flex;
        flex-direction: column;
    }

    .support-item {
        width: 258px;
    }
}

/* 360 */
@media (max-width: 360px) {
    .container {
        max-width: 360px;
    }

    .logo {
        width: 70px;
        height: 20px;
    }

    .header {
        max-width: calc(360px - 30px);
        padding: 17px 15px;
    }

    .btn-accent .span {
        font-size: 14px;
    }

    .brands {
        margin-top: 50px;
    }

    .section-hero {
        margin-bottom: 80px;
    }

    .section-advantages {
        padding-bottom: 90px;
    }

    .app-text .title-h2 {
        font-size: 26px;
    }

   .app-list {
        gap: 10px;
        grid-template-columns: 172px 1fr;
    }

    .app-list .app-item {
        font-size: 13px;
    }

    .footer-top .logo {
        width: 158px;
        height: 40px;
    }
} 